<h2>Articles</h2>

<section class="row">
  <div class="col-md-12">
    <ol>
      <% @articles.each do |article| %>
      <li>
        <h3><%= link_to article.title, article %></h3>
        <%= link_to truncate(article.text), article %>
        <%=  article.created_at %>
      </li>
      <% end %>
    </ol>
  </div>
</section>
